<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>
<app-loading></app-loading>

<div class="card">
    <form [formGroup]="createForm" method="post" (ngSubmit)="postAuthentication(createForm)">
        <div class="login">
            <h3>Login</h3>
            <div>
                <p-floatLabel>
                    <input pInputText id="mail" type="text" formControlName="email" />
                    <label for="mail">Email</label>
                </p-floatLabel>
            </div>
            <div>
                <p-floatLabel>
                    <p-password formControlName="password" [toggleMask]="true" [feedback]="false" />
                    <label for="password">Password</label>
                </p-floatLabel>
            </div>
            <div class="button-container">
                <p-button label="Acessar" icon="pi pi-user" type="submit" [style]="{ 'width': '100%' }" />
                <p class="forgot-password">Esqueceu a senha?</p>
            </div>
        </div>
        
        <div class="signup">
            <label for="">Ainda não tem uma conta?</label>
            <p-button label="Registrar-se" icon="pi pi-user-plus" styleClass="p-button-success w-10rem" />
        </div>
    </form>
</div>
