<div class="cost-calculation-container">
    <h3>Cálculo de Custo do Produto</h3>
  
    <div *ngFor="let cost of productCost; let i = index" class="ingredient-row">
      <div class="form-inline">
        <div class="form-row">
          <label for="userTypes">Ingrediente</label>
          <p-dropdown
              [filter]="true"
              [options]="costs"
              optionLabel="displayName"
              filterBy="name"  
              [(ngModel)]="cost.name"
              placeholder="Selecione um custo"
              (onChange)="onCostSelect(i, $event.value)"
              [style]="{'width': '250px'}">
          </p-dropdown>
        </div>
  
        <div class="form-row">
          <label>Preço Total</label>
          <p-inputNumber [(ngModel)]="cost.totalPrice" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
        </div>
  
        <div class="form-row">
          <label>Quantidade Total</label>
          <p-inputNumber [(ngModel)]="cost.totalQuantity"  useGrouping="true"></p-inputNumber>
        </div>
  
        <div class="form-row">
          <label>Quantidade Necessária</label>
          <p-inputNumber [(ngModel)]="cost.requiredQuantity"  useGrouping="true"></p-inputNumber>
        </div>
      </div>
  
      <div class="custo-ingrediente">
        <p>Custo do ingrediente: {{ calculateIngredientCost(cost) | currency:'BRL' }}</p>
      </div>
      <p-divider></p-divider>
    </div>
  
    <div class="buttons">
      <p-button label="Adicionar Ingrediente" icon="pi pi-plus" (click)="addIngredient()"></p-button>
      @if(calculateTotalCost() > 0){
        <p-button label="Salvar Custo Total" icon="pi pi-calculator" (click)="calculateTotalCost()" class="p-button-success"></p-button>
      }
    </div>
  
    <h4>Custo total do produto: {{ calculateTotalCost() | currency:'BRL' }}</h4>
  </div>
  