<app-dialog-calculate 
    (addCostEvent)="addCost()"
    (editProductCost)="onEditProductCost($event)">
</app-dialog-calculate>
<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>

<div [hidden]="visibleDialog" class="cost-calculation-container">
    <h3>Cálculo de Custo do Produto</h3>
  
    <div *ngFor="let cost of productCost; let i = index" class="ingredient-row">
      <div class="form-inline" [formGroup]="formProductCost">
        <div class="form-row">
          <label for="userTypes">Ingrediente</label>
          <p-dropdown
              [filter]="true"
              [options]="costs"
              optionLabel="displayName"
              filterBy="name" 
              optionValue="id"
              formControlName="cost.idCost" 
              placeholder="Selecione um custo"
              (onChange)="onCostSelect(i, $event.value)"
              [style]="{'width': '250px'}">
          </p-dropdown>
        </div>
  
        <div class="form-row">
          <label>Preço Total</label>
          <p-inputNumber formControlName="totalProductPrice" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
        </div>
  
        <div class="form-row">
          <label>Quantidade Total</label>
          <p-inputNumber formControlName="totalQuantity" useGrouping="true"></p-inputNumber>
        </div>
  
        <div class="form-row">
          <label>Quantidade Necessária</label>
          <p-inputNumber formControlName="quantityRequired"  useGrouping="true"></p-inputNumber>
        </div>
      </div>
  
      <div class="custo-ingrediente">
        <p *ngIf="cost.quantityRequired > 0 && cost.totalQuantity && cost.totalProductPrice">
          Custo do ingrediente: {{ calculateIngredientCost(cost) | currency:'BRL' }}
        </p>
      </div>
      <p-divider></p-divider>
    </div>
  
    <div class="buttons">
      <p-button label="Adicionar Ingrediente" icon="pi pi-plus" (click)="addIngredient()"></p-button>
      @if(calculateTotalCost() > 0){
        <p-button label="Salvar Custo Total" icon="pi pi-calculator" (click)="openDialog()" class="p-button-success"></p-button>
      }
    </div>
  
    <h4>Custo total do produto: {{ calculateTotalCost() | currency:'BRL' }}</h4>

   <p-dialog 
      [(visible)]="visibleDialogProduct" 
      [modal]="true" 
      [style]="{ width: '400px' }"
      [closable]="false">
    
    <div class="form-row">
      <h3>Vincular custo ao produto</h3>
      <p-dropdown 
          [options]="products" 
          [(ngModel)]="selectedProductId" 
          optionLabel="name" 
          appendTo="body"
          optionValue="id" 
          [style]="{'width': '250px'}"
          placeholder="Selecione um produto">
      </p-dropdown>
      <small 
      *ngIf="message" 
      class="p-error"
      style="color: red; display: block; margin-top: 4px;">
      O produto é obrigatório.
    </small>
    </div>

    <div class="dialog-buttons">
      <p-button 
        label="Salvar" 
        icon="pi pi-save" 
        (click)="newProductCost()"
        [loading]="loadingButton"
        class="p-button-success">
      </p-button>
      <p-button 
        label="Cancelar" 
        icon="pi pi-times" 
        (click)="visibleDialogProduct = false">
      </p-button>
    </div>
  </p-dialog>
</div>