<p-card header="Meu Perfil"  styleClass="profile-card" [style]="{ 'box-shadow': 'none', 'border': 'none' }">
    <div class="profile-form">

        <div class="profile-pic-section">
            <div class="profile-pic">
                <img [src]="" alt="Profile Picture" class="profile-img">
                <p-fileUpload mode="basic" name="file" accept="image/*" (onUpload)="onPhotoUpload($event)">
                    <button pButton type="button" label="Clique para mudar a foto" icon="pi pi-camera"></button>
                </p-fileUpload>
            </div>
            <p class="photo-info">Sua foto de perfil</p>
        </div>

        <form
        [formGroup]="createForm"
        method="post"
        (ngSubmit)="updateUserProfile(createForm)">

        <div class="profile-info-section">
            <div class="form-group">
                <label for="firstName">username</label>
                <input pInputText formControlName="username" id="username" type="text" pInputText placeholder="Nome" [disabled]="true"/>
            </div>
            <div class="form-group">
                <label for="firstName">Nome</label>
                <input pInputText formControlName="firstName" id="firstName" type="text" pInputText placeholder="Nome" />
            </div>
            <div class="form-group">
                <label for="lastName">Sobrenome</label>
                <input pInputText formControlName="lastName" id="lastName" type="text" pInputText placeholder="Sobrenome" />
            </div>
            
            <div class="form-group">
                <label for="email">E-mail</label>
                <input pInputText  formControlName="email" id="email" type="text" pInputText placeholder="E-mail"[disabled]="true" />
            </div>
            <div class="form-group">
                <label for="userType">Tipo de Usuário</label>
                <p-dropdown
                    id="userType"
                    [options]="userTypes"
                    formControlName="accessLevelId"
                    [style]="{'width': '100%'}"
                    placeholder="Selecione um tipo de usuário"
                ></p-dropdown>
            </div>

            <div class="form-group">
                <label for="phone">Telefone</label>
                <input pInputText formControlName="phone" id="phone" type="text" pInputText placeholder="Telefone" />
            </div>

            <div class="form-group">
                <label for="zipCode">CEP</label>
                <input pInputText formControlName="zipCode" id="zipCode" type="text" pInputText placeholder="CEP" />
            </div>

            <div class="form-group">
                <label for="address">Endereço</label>
                <input pInputText formControlName="address" id="address" type="text" pInputText placeholder="Endereço" [disabled]="true"/>
            </div>

            <div class="form-group">
                <label for="num">Número</label>
                <input pInputText formControlName="num" id="num" type="text" pInputText placeholder="Número" />
            </div>

            <div class="form-group">
                <label for="city">Cidade</label>
                <input pInputText formControlName="city" id="city" type="text" pInputText placeholder="Cidade" [disabled]="true"/>
            </div>

            <div class="form-group">
                <label for="state">Estado</label>
                <input pInputText formControlName="state" id="state" type="text" pInputText placeholder="Estado" [disabled]="true" />
            </div>
        </div>

        <div class="save-button-section">
            <p-button label="Salvar" icon="pi pi-check" type="submit"></p-button>
        </div>
    </form>
 </div>
</p-card>