.closed-side-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    height: 100vh;
    padding-top: 30px;
    background: var(--gradient-grey-side-bar-01);
    background-color: var(--gradient-grey-side-bar-02);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  
    .screens-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      width: 100%;
  
      i{
        color: var(--white-01-header);
        font-size: 0.8rem;
      }
      .closed-navigation-option {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
        width: 100%;
        padding: 30% 0%;
        border-radius: 8px;
      }
  
      .closed-navigation-active {
        background-color: #3e5059;
      }
    }
  }
  
  .icon {
    color: var(--white-01-header);
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  .icon:hover {
    cursor: pointer;
  }
  p-sidebar {
    header {
      display: flex;
      flex-direction: column;
      height: 20%;
  
      div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
        width: 100%;
        height: 50%;
  
        div {
          height: 20px;
          width: 20px;
        }
      }
  
      .title-line-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        margin-top: 10%;
  
        .title-div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
        }
  
        .line-div {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          height: 10px;
  
          hr {
            margin-left: 10%;
            width: 100%;
          }
        }
      }
  
      .header-title {
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--white-01-header);
      }
    }
  
    .p-sidebar-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      i{
        color: var(--white-01-header);
        font-size: 0.75rem;
      }
      .navigate-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1%;
        padding: 1% 10%;
        width: 100%;
        border-radius: 8px;
  
        p {
          color: #8aa4af;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
  
      .navigate-option.a-active {
        background-color: #3e5059;
      }
  
      .navigate-option.a-active i.pi {
        color: var(--white-01-header);
      }
  
      .navigate-option.a-active p {
        color: var(--white-01-header);
      }
    }
  }
  
  @media screen and (min-width: 1680px) and (min-height: 1050px) {
  
  }
  