<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>

<div class="container">
  <div class="crud">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <p-button pRipple label="New" icon="pi pi-plus" class="mr-2" (click)="openCreate()"></p-button>
      </ng-template>
      <ng-template pTemplate="right">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input 
            pInputText 
            type="text" 
            (input)="dt.filterGlobal($event.target, 'contains')" 
            placeholder="Search..." />
        </span>
      </ng-template>
    </p-toolbar>

    <p-dialog 
        header="{{handlers.headerDialog}}"
        [modal]="true"
        [draggable]="false"
        [resizable]="false"
        [(visible)]="handlers.visibleCreate" 
        [style]="{ width: '38rem', height: '32rem'}"
        [dismissableMask]="false" >
      
      <form
        [formGroup]="createForm"
        method="post"
        (ngSubmit)="CreateOrEdit(createForm)">

          <div class="form-grid">
            <div class="form-field">
              <label for="username" class="font-semibold">Product Name</label>
              <input pInputText  formControlName="name" id="username" autocomplete="off" />
          </div>

            <div class="form-field">
              <label for="username" class="font-semibold">Date Cost</label>
              <p-calendar 
              [iconDisplay]="'input'" 
              [showIcon]="true" 
              [panelStyle]="{ 'transform': 'scale(0.7)'}" 
              formControlName="dateCost"
              [inputStyle]="{
                width: '384px'
              }">
          </p-calendar>
          </div>

            <div class="form-field">
                <label for="quantity" class="font-semibold">Quantity</label>
                <input pInputText formControlName="quantity" id="quantity" autocomplete="off" />
            </div>
            

            <div class="form-field">
                <label for="unitPrice" class="font-semibold">Unit Price (R$)</label>
                <input pInputText id="unitPrice" formControlName="unitPrice" type="number" step="0.01" min="0" autocomplete="off" />
            </div>    
            <div class="form-field">
                <label for="price" class="font-semibold">Total Price (R$)</label>
                <input pInputText id="price" formControlName="price" type="number" step="0.01" min="0" autocomplete="off" />
            </div>    
        </div>
        
          <div class="footer-dialog">
              <p-button pRipple label="Cancel" severity="danger" (click)="cancel()"/>
              <p-button pRipple [label]="isEditMode ? 'Update' : 'Save'" severity="success" type="submit" [loading]="loadingButton" />
          </div>
      </form>    

    </p-dialog>

    <p-table #dt [value]="costs" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name', 'dateCost', 'quantity', 'unitPrice','totalPrice','dateCreate']"
      [tableStyle]="{ 'min-width': '75rem' }" 
      [(selection)]="selectedCosts" 
      [rowHover]="true" 
      dataKey="id"
      [rows]="5"
      [loading]="loadingTable"
      [rowsPerPageOptions]="[5, 10, 15, 20]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="dateCost">
            Date Cost <p-sortIcon field="dateCost"></p-sortIcon>
          </th>
          <th pSortableColumn="name">
            Product Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity">
            Quantity <p-sortIcon field="quantity"></p-sortIcon>
          </th>
          <th pSortableColumn="unitPrice">
            Unit Price <p-sortIcon field="unitPrice"></p-sortIcon>
          </th>
          <th pSortableColumn="totalPrice">
            Total Price <p-sortIcon field="totalPrice"></p-sortIcon>
          </th>
          <th pSortableColumn="dateCreate">
            Date Create <p-sortIcon field="dateCreate"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cost>
        <tr>
          <td>
            {{ cost.dateCost  | date: 'dd/MM/yyyy'  }}
          </td>
          <td>
            {{ cost.name }}
          </td>
          <td>
            {{ cost.quantity }}
          </td>
          <td>
            {{ handlers.formartValor(cost.unitPrice) }}
          </td>
          <td>
            {{ handlers.formartValor(cost.totalPrice) }}
          </td>
          <td>
            {{ cost.dateCreate  | date: 'dd/MM/yyyy' }}
          </td>
         
          <td>
            <p-button pRipple icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
            [style]="{
             'margin':'5px',
             height: '40px',
             width: '40px'
            }" (click)="dialogEdit(cost)"></p-button>
            <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
            [style]="{
              'margin':'5px',
              height: '40px',
              width: '40px'
             }" (click)="deleteCost(cost.id)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">{{messageTable}}</td>
        </tr>
      </ng-template>
    </p-table>  
  </div>
</div>
