.file{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.icon-text-container{
    display: flex;
    margin-left: 43%;
    align-items: center;
    color: #2563eb;
    text-align: center;
    height: 10%;

}
.icon-text-container i {
    margin-right: 8px; 
    color: #2563eb;
  }
  
  .icon-text-container h3 {
    color: #2563eb;
  }