<div class="container">
    <div class="file">
        <div class="icon-text-container">
            <i class="pi pi-cloud-upload"></i>
            <a href="/src/assets/files/template.xlsx"
               download="template.xlsx"
            >
            Import File (xls/xlsx)</a>
        </div>
            <p-progressSpinner 
                ariaLabel="loadingUpload"  
                strokeWidth="3" 
                *ngIf="loadingUpload"
                [style]="{'margin': '10px', 'width': '3rem', 'height': '3rem'}">
            </p-progressSpinner> 
            <p-fileUpload 
                name="demo[]" 
                fileLimit="1"
                [disabled]="loadingUpload"
                (onSelect)="onSelect($event)"
                [multiple]="true" 
                accept=".xlsx,.xls"
                class="file-upload"
                maxFileSize="1000000">
            </p-fileUpload>
        @if(!!returnMessage){
            <p class="return-message">{{returnMessage}}</p>
        }
    </div>
</div>
