.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
::ng-deep .p-menuitem-content {
	background: transparent !important;
}
::ng-deep .p-menuitem-content:hover{
    background: #3b77f8 !important;
}
::ng-deep .p-submenu-list .p-menuitem-link {
	color: #2563eb !important;
}
::ng-deep .p-submenu-list .p-menuitem-link:hover {
	background: #eeeeee;
}
::ng-deep .p-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}