:root{
    --primary-color: #2563eb;
    --font-color: #7c7c7c;
    
    --gray-001: #EBEFF7;
    --gray-002: #f3f3f3;
    --white: #fff;
    --success: #22C55E;
    --default: #0079FC;
    --danger: #D43241;
    --yellow: #FFC109;

}