::ng-deep.p-chart canvas{
  box-sizing: border-box;
  display: block;
  height: 300px !important;
  width: 895px !important;
}
::ng-deep canvas {
	box-sizing: border-box;
	display: block;
	height: 280px;
}
.title-card-title{
  font-size: 18px;
	font-weight: 600;
}
.dashboard-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #EBEFF7;
  }
  .date-filter-section {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
  }
  
  .top-section,
  .middle-section,
  .bottom-section {
    margin-bottom: 20px;
  }

  .middle-section{
    width: 100%;
  }
  
  .p-grid {
    display: flex;
    justify-content: space-between;
    box-shadow:inset;
  }
  
  .p-col-12 {
    flex: 1;
    margin-right: 10px; 
  }
  
  .p-col-12:last-child {
    margin-right: 0;
  }
  
  .p-card {
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quantity-card,
  .chart-card,
  .large-chart-card {
    text-align: center;
    color: var(--white);
  }
  
  .quantity-card .card-header,
  .chart-card .card-header,
  .large-chart-card .card-header {
    margin-bottom: 10px;
    i{
      font-size: 2em;
      display: block;
      margin-right: 10px;
      color: var(--white);
      margin-bottom: 10px;

    }
    span{
      color: var(--white);
      font-weight: 400;
    }

  }
  .subtitle{
    color: var(--white);
    
  }
  

  @media (max-width: 768px) {
    .p-grid {
      flex-direction: column;
    }
  
    .p-col-12 {
      margin-right: 0;
      margin-bottom: 10px; 
    }
  }
  