.button-container {
    display: flex;
    gap: 20px; 
    align-items: flex-start;
}
.card{
    align-items: center;
    text-align: center;
}
::ng-deep .p-dialog-mask {
    background-color: rgba(0, 0, 1, 0.7); 
}
::ng-deep .p-dialog .p-dialog-header{
    padding: 0px 0 10px 20px;
}
